@import "./__card/news__card.scss";

.news {
  background-color: $default-background-darken;
  padding-top: 70px;
  padding-bottom: 100px;
}

.section-news-title {
  font-weight: 900;
  color: $dark-text;
  margin-bottom: 65px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button-next{
  background-color: transparent;
  border: none;
  position: absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
}