include ./__card/news__card
mixin news
  section.news
    div.container
      h2.section-title.section-news-title Новости по теме
      div.swiper-container
        div.swiper-wrapper
          div.swiper-slide
            +news-card('31 марта 2020', '«Морбиуса» и «Охотников за привидениями» перенесли на следующий год')
          div.swiper-slide
            +news-card('9 декабря 2019', 'Наследники: Вышел дебютный трейлер новых «Охотников за привидениями»')
          div.swiper-slide
            +news-card('11 ноября 2019', 'Новые «Охотники за привидениями» обзавелись названием')
          div.swiper-slide
            +news-card('19 октября 2019', 'Завершились съёмки новых «Охотников за привидениями»')
