@media (max-width:1200px) {
  .container {
    max-width: 960px;
  }

  .page-header {
    height: 90px;
    padding-left: 20px;
  }

  .card-image {
    width: 70px;
    height: 70px;
  }

  .separator {
    margin-left: 20px;
  }

  .navigation-link {
    margin-right: 10px;
  }

  .navigation {
    margin-right: 10px;
  }

  .search-input {
    margin-left: 20px;
  }

  .button-group .sign-up,
  .button-group .login {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width:991px) {
  .container {
    width: 760px;
  }

  .separator {
    margin-left: 20px;
  }

  .navigation {
    display: none;
  }

  .search-input {
    margin-right: auto;
  }

  .button-group .sign-up,
  .button-group .login {
    padding-left: 10px;
    padding-right: 10px;
  }

  .film-title {
    font-size: 34px;
    line-height: 1.4;
  }

  .film-subtitle {
    margin-bottom: 20px;
  }

  .film-description,
  .about-film {
    margin-bottom: 30px;
  }

  .about-text .about-text-bold {
    display: block;
    margin-bottom: 10px;
  }

  .card-image {
    width: 100px;
    height: 100px;
  }

  .card {
    flex-basis: 50%;
  }

  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}

@media(max-width:768px), (pointer:coarse){
  .container {
    max-width: 560px;
  }
  .m-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 90px;
    height:calc(100% - 90px);
    background-color: $light-blue;
  }
  .m-menu.active{
    display: flex;
  }
  .button-group{
    display: flex;
    height: auto;
    flex-direction: column;
  }
  .navigation{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .navigation .navigation-link{
    color:$default-background;
    margin-bottom: 18px;
    margin-right: 0;
  }
  .navigation-link:last-child{
    margin-bottom: 0;
  }
  .button-group .sign-up{
    background-color: transparent;
    color: $default-background;
    border: none;
    margin-bottom: 30px;
  }
  .search-input{
    margin: 0;
    background-color: $default-background;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-image: none;
  }
  .film {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .mobile-buttons {
    display: block;
    margin-left: auto;
  }

  .page-header {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  .film-wrapper {
    flex-wrap: wrap;
  }

  .film-text {
    order: -1;
    margin-bottom: 20px;
  }

  .cast,
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .separator {
    display: none;
  }
}
  .news-card{
    max-width: 90%;
  }
@media(max-width:576px), (pointer:coarse) {
  .container {
    width: 95%;
  }

  .page-header {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  .button-group {
    display: none;
  }

  .separator {
    display: none;
  }

  .search-input {
    display: none;
  }

  .film-trailer {
    width: 100%;
    margin-bottom: 30px;

    .poster {
      width: 100%;
    }
  }

  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }

  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }

  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  .about-film {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;

    .right-side {
      margin-left: 40px;
    }
  }

  .about-text {
    margin-bottom: 10px;

    .about-text-bold {
      display: inline-block;
    }
  }

  .film-text {
    order: 1;
    margin-bottom: 0;
  }

  .cast {
    margin-bottom: 50px;
  }

  .tabs {
    margin-bottom: 35px;
  }

  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .card-image {
    height: 60px;
    width: 60px;
  }

  .news-card {
    flex-basis: 100%;
  }
}