@media (max-width:1200px) {
  .container {
    max-width: 960px;
  }

  .page-header {
    height: 90px;
    padding-left: 20px;
  }

  .card-image {
    width: 70px;
    height: 70px;
  }

  .separator {
    margin-left: 20px;
  }

  .navigation-link {
    margin-right: 10px;
  }

  .navigation {
    margin-right: 10px;
  }

  .search-input {
    margin-left: 20px;
  }

  .button-group .sign-up,
  .button-group .login {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width:991px) {
  .container {
    width: 760px;
  }

  .separator {
    margin-left: 20px;
  }

  .navigation {
    display: none;
  }

  .search-input {
    margin-right: auto;
  }

  .button-group .sign-up,
  .button-group .login {
    padding-left: 10px;
    padding-right: 10px;
  }

  .film-title {
    font-size: 34px;
    line-height: 1.4;
  }

  .film-subtitle {
    margin-bottom: 20px;
  }

  .film-description,
  .about-film {
    margin-bottom: 30px;
  }

  .about-text .about-text-bold {
    display: block;
    margin-bottom: 10px;
  }

  .card-image {
    width: 100px;
    height: 100px;
  }

  .card {
    flex-basis: 50%;
  }

  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}

@media(max-width:768px) {
  .container {
    max-width: 560px;
  }

  .film {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .button-group {
    display: none;
  }

  .mobile-buttons {
    display: block;
  }

  .search-input {
    display: none;
  }

  .page-header {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  .film-wrapper {
    flex-wrap: wrap;
  }

  .film-text {
    order: -1;
    margin-bottom: 20px;
  }

  .cast,
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .separator {
    display: none;
  }
}

@media(max-width:576px) {
  .container {
    width: 95%;
  }

  .page-header {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  .button-group {
    display: none;
  }

  .separator {
    display: none;
  }

  .search-input {
    display: none;
  }

  .film-trailer {
    width: 100%;
    margin-bottom: 30px;

    .poster {
      width: 100%;
    }
  }

  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }

  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }

  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  .about-film {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;

    .right-side {
      margin-left: 40px;
    }
  }

  .about-text {
    margin-bottom: 10px;

    .about-text-bold {
      display: inline-block;
    }
  }

  .film-text {
    order: 1;
    margin-bottom: 0;
  }

  .cast {
    margin-bottom: 50px;
  }

  .tabs {
    margin-bottom: 35px;
  }

  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .card-image {
    height: 60px;
    width: 60px;
  }

  .news-card {
    flex-basis: 100%;
  }
}