include ./fancybox/script.pug
include ./swiper/swiper
script(src="../scripts/blocks/header/header__drop.js")
script(src="../scripts/blocks/news/news__swiper.js")
script(src="../scripts/blocks/cast/cast__tabs.js")