.search-input{
  background: url("/../blocks/header/__search-input/header__search-input-icon.svg") no-repeat center left;
  border:none;
  padding-left: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:$input-dark-color;
  outline: none;
  margin-left:34px;
  &::-webkit-search-cancel-button{
    cursor: pointer;
  }
}
