mixin film-rating
  div.film-rating
    div.film-rating-counter 92%
    div.film-rating-text
      h3.film-rating-title Рейтинг зрителей
      span.film-rating-text Средняя оценка: <strong class="film-rating-text-bold">4,5/5</strong>
      span.film-rating-text Всего голосов: <strong class="film-rating-text-bold">4 350</strong>