mixin film-trailer
  div.film-trailer
    img(src="../blocks/film/__trailer/film__trailer-image.jpg", alt="Poster").poster
    button.trailer-button
      img(src="../blocks/film/__trailer/film__trailer-play.svg", alt="Play").trailer-button-icon
      span.trailer-button-text Посмотреть трейлер