@import "../../../colors/colors.scss";
.button-group{
  height:100%;
  .sign-up{
    color:$sign-color;
    font-style: 18px;
    line-height: 21px;
    border:none;
    height: 100%;
    background-color: $default-background;
  }
  .login{
    font-style: 18px;
    line-height: 21px;
    color:$default-background;
    background-color: $sign-color;
    border:none;
    height: 100%;
  }
}
