mixin button-group
  div.button-group
    button.button.sign-up Регистрация
    button.button.login Войти
  div.mobile-buttons
    button.m-search-button
      img(src="/../blocks/header/__search-input/header__search-input-icon.svg", alt="search")
    button.m-menu-button
      span.menu-line
      span.menu-line
      span.menu-line
