@import "../../../colors/colors.scss";
.button-group{
  height:100%;
  .button{
    height: 100%;
    cursor: pointer;
  }
  .sign-up{
    color:$sign-color;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    border:none;
    background-color: $default-background;
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid $border-color;
  }
  .login{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color:$default-background;
    background-color: $sign-color;
    border:none;
    padding-left: 50px;
    padding-right: 50px;
  }
}
