@import "../../colors/colors.scss";
@import "./__search-input/header__search-input.scss";
@import "./__navigation/header__navigation.scss";
@import "./__button-group/header__button-group.scss";
.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:104px;
  border-bottom:1px solid $border-color;
  padding-left:34px;
}
.separator{
  height:100%;
  width: 1px;
  background-color:$border-color;
  margin-left: 34px;
}