mixin mobile-buttons
  div.mobile-buttons
    button.m-search-button
      img(src="/../blocks/header/__search-input/header__search-input-icon.svg", alt="search")
    button.m-menu-button
      span.menu-line
      span.menu-line
      span.menu-line